body {
  background: url(../gfx/background.png);
}
.hidden {
  visibility: hidden;
}
.notyet {
  text-decoration: line-through;
}
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -260px;
  color: #fff;
}
#container .wrapper {
  min-width: 480px;
  position: relative;
  background: #7CC1F0;
  padding: 20px;
  min-height: 55px;
  z-index: 2;
  border-bottom: 4px solid #2980b9;
}
#container .wrapper .chrome-ext-promo {
  position: absolute;
  width: 100%;
  height: 64px;
  top: -100px;
  left: 0;
  background: #fff;
  font-family: sertig, sans-serif;
  text-decoration: none;
  border-radius: 5px;
  color: #2c3e50;
  line-height: 64px;
}
#container .wrapper .chrome-ext-promo img {
  display: block;
  float: left;
  margin-right: 20px;
}
#container .info-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  line-height: 75px;
  font-size: 1.2em;
  text-align: center;
  z-index: 1;
  background: #2980b9;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-family: sertig, sans-serif;
}
#container .info-box.error {
  background: #c0392b;
}
#container .info-box a {
  color: #fff;
  text-decoration: none;
  font-family: sertig, sans-serif;
  font-size: 1.2em;
}
#container .info-box.show {
  top: 69px;
}

#container .zonk {
  font-family: sertig, sans-serif;
  font-size: 1.8em;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #2980b9;
  padding-bottom: 40px;
}
#container .zonk img {
  display: block;
  margin: 0 auto;
}
#container p.message {
  margin: 0;
  text-align: center;
  line-height: 100px;
  font-family: sertig, sans-serif;
}
#container form {
  width: 100%;
  position: relative;
  z-index: 2;
}
#container form input[name="url"] {
  border: 0 none;
  padding: 20px;
  width: auto;
  float: left;
  width: 382px;
  outline: none;
  margin: 0;
  font-size: 15px;
}
#container form input[type="submit"] {
  position: relative;
  float: left;
  border: 0 none;
  font-size: 1.5em;
  color: #fff;
  background: #2c3e50;
  font-family: sertig, sans-serif;
  height: 58px;
  width: 58px;
  outline: none;
}
#container form input[type="submit"]:hover {
  opacity: 0.8;
}
#container img.url-not-found {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#container .info {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #7CC1F0;
  top: -20px;
  left: 0px;
  text-align: center;
  line-height: 21px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
#container .info.name {
  width: 35px;
  font-family: sertig, sans-serif;
}
#container .twitter {
  left: 36px;
  top: -20px;
  height: 19px;
  background-color: #fff;
  background-image: url(../gfx/twitter.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #7CC1F0;
  border-bottom: 0 none;
}

@media 
(-webkit-min-device-pixel-ratio: 2) { 
  #container .twitter {
    background-image: url(../gfx/twitter.x2.png);
    background-size: 16px 16px;
  }
}

/* Webfonts */
@font-face {
  font-family: 'sertig';
  src: url('/media/fonts/sertig-webfont.eot');
  src: url('/media/fonts/sertig-webfont.eot?#iefix') format('embedded-opentype'),
       url('/media/fonts/sertig-webfont.woff') format('woff'),
       url('/media/fonts/sertig-webfont.ttf') format('truetype'),
       url('/media/fonts/sertig-webfont.svg#sertigregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Mobile */
@media only screen 
and (max-device-width : 480px) {
  #container {
    width: auto;
    top: auto;
    left: auto;
    margin-top: 30px;
    margin-left: auto;
    position: relative;
  }
  #container .wrapper {
    min-width: 100%;
    padding: 0;
  }
  #container form {
    padding: 3%;
    width: 94%;
  }
  #container form input[name="url"] {
    padding: 5%;
    width: 90%;
    float: none;
    display: block;
  }
  #container form input[type="submit"] {
    width: 100%;
    height: 48px;
    float: none;
    display: block;
    -webkit-appearance: none;
  }
  #container .info-box.show {
    top: 100px;
    margin: 8px 0;
  }
  #container .zonk img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen 
and (min-width : 321px) 
and (max-device-width : 480px) {
  #container .info-box.show {
    top: 144px;
    line-height: 65px;
  }
}